p{
    /* font-size: 900px; */
    /* font-weight: bolder; */
    /* font-style: italic; */
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: monospace;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    /* font-variant: normal; */
}